.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  padding: 0 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  max-width: 730px;
  padding: 32px 50px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__image-container {
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: transparent url("../images/icon_cross.svg") no-repeat center /
    contain;
  border: none;
  opacity: 40%;
}

.modal__close-button_type_preview {
  top: 0;
  right: -52.5px;
  background: transparent url("../images/icon_close_white.svg") no-repeat center /
    contain;
  opacity: 1;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__close-button_type_preview:hover {
  background-image: url(../images/icon_cross.svg);
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__text {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  display: block;
  object-fit: contain;
  border-radius: 8px;
}

.modal__caption {
  background-color: #212121;
  padding: 4px 8px;
  margin-top: 8px;
  color: #fff;
  font-family: poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 8px;
  width: fit-content;
  margin-left: 0;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #212121;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  color: rgba(255, 0, 0, 0.7);
}

.modal__submit-button {
  width: 156px;
  padding: 18px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
}

.modal__submit-button_disabled {
  opacity: 0.5;
}

.modal__submit-button:hover {
  cursor: pointer;
}

.modal__submit-button_disabled:hover {
  cursor: not-allowed;
}

.modal__button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal__button {
  padding: 18px 52px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 1);
  background-color: #fcf5e5;
}

.modal__button_type_delete {
  background-color: rgba(255, 101, 101, 1);
  border: none;
}

.modal__button:hover {
  cursor: pointer;
  background-color: #212121;
  color: #ffffff;
}

.modal__button_type_delete:hover {
  background-color: #ff3333;
  color: #212121;
}

@media screen and (max-width: 690px) {
  .modal__container {
    max-width: 300px;
    padding: 12px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_type_preview {
    top: -38px;
    right: -7px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__text {
    font-size: 20px;
    line-height: 1.2;
    margin: 0 0 20px;
  }

  .modal__caption {
    font-size: 16px;
    margin-top: 12px;
    margin-left: 8px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-button {
    width: 100%;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__button-group {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
}
